<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.HappyFarmLandinfoMapper">
  <resultMap id="BaseResultMap" type="com.ssm.entity.HappyFarmLandinfo">
    <id column="landID" jdbcType="INTEGER" property="landid" />
    <result column="landName" jdbcType="VARCHAR" property="landname" />
    <result column="landPrice" jdbcType="DOUBLE" property="landprice" />
    <result column="landImg" jdbcType="VARCHAR" property="landimg" />
    <result column="landMs" jdbcType="VARCHAR" property="landms" />
    <result column="landArea" jdbcType="VARCHAR" property="landarea" />
    <result column="landDate" jdbcType="DATE" property="landdate" />
    <result column="landSize" jdbcType="VARCHAR" property="landsize" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    landID, landName, landPrice, landImg, landMs, landArea, landDate, landSize, status
  </sql>
  <select id="selectByExample" parameterType="com.ssm.entity.HappyFarmLandinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from happy_farm_landinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from happy_farm_landinfo
    where landID = #{landid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from happy_farm_landinfo
    where landID = #{landid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.entity.HappyFarmLandinfoExample">
    delete from happy_farm_landinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.entity.HappyFarmLandinfo">
    insert into happy_farm_landinfo (landID, landName, landPrice, 
      landImg, landMs, landArea, 
      landDate, landSize, status
      )
    values (#{landid,jdbcType=INTEGER}, #{landname,jdbcType=VARCHAR}, #{landprice,jdbcType=DOUBLE}, 
      #{landimg,jdbcType=VARCHAR}, #{landms,jdbcType=VARCHAR}, #{landarea,jdbcType=VARCHAR}, 
      #{landdate,jdbcType=DATE}, #{landsize,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.entity.HappyFarmLandinfo">
    insert into happy_farm_landinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="landid != null">
        landID,
      </if>
      <if test="landname != null">
        landName,
      </if>
      <if test="landprice != null">
        landPrice,
      </if>
      <if test="landimg != null">
        landImg,
      </if>
      <if test="landms != null">
        landMs,
      </if>
      <if test="landarea != null">
        landArea,
      </if>
      <if test="landdate != null">
        landDate,
      </if>
      <if test="landsize != null">
        landSize,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="landid != null">
        #{landid,jdbcType=INTEGER},
      </if>
      <if test="landname != null">
        #{landname,jdbcType=VARCHAR},
      </if>
      <if test="landprice != null">
        #{landprice,jdbcType=DOUBLE},
      </if>
      <if test="landimg != null">
        #{landimg,jdbcType=VARCHAR},
      </if>
      <if test="landms != null">
        #{landms,jdbcType=VARCHAR},
      </if>
      <if test="landarea != null">
        #{landarea,jdbcType=VARCHAR},
      </if>
      <if test="landdate != null">
        #{landdate,jdbcType=DATE},
      </if>
      <if test="landsize != null">
        #{landsize,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.entity.HappyFarmLandinfoExample" resultType="java.lang.Long">
    select count(*) from happy_farm_landinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update happy_farm_landinfo
    <set>
      <if test="record.landid != null">
        landID = #{record.landid,jdbcType=INTEGER},
      </if>
      <if test="record.landname != null">
        landName = #{record.landname,jdbcType=VARCHAR},
      </if>
      <if test="record.landprice != null">
        landPrice = #{record.landprice,jdbcType=DOUBLE},
      </if>
      <if test="record.landimg != null">
        landImg = #{record.landimg,jdbcType=VARCHAR},
      </if>
      <if test="record.landms != null">
        landMs = #{record.landms,jdbcType=VARCHAR},
      </if>
      <if test="record.landarea != null">
        landArea = #{record.landarea,jdbcType=VARCHAR},
      </if>
      <if test="record.landdate != null">
        landDate = #{record.landdate,jdbcType=DATE},
      </if>
      <if test="record.landsize != null">
        landSize = #{record.landsize,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update happy_farm_landinfo
    set landID = #{record.landid,jdbcType=INTEGER},
      landName = #{record.landname,jdbcType=VARCHAR},
      landPrice = #{record.landprice,jdbcType=DOUBLE},
      landImg = #{record.landimg,jdbcType=VARCHAR},
      landMs = #{record.landms,jdbcType=VARCHAR},
      landArea = #{record.landarea,jdbcType=VARCHAR},
      landDate = #{record.landdate,jdbcType=DATE},
      landSize = #{record.landsize,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.entity.HappyFarmLandinfo">
    update happy_farm_landinfo
    <set>
      <if test="landname != null">
        landName = #{landname,jdbcType=VARCHAR},
      </if>
      <if test="landprice != null">
        landPrice = #{landprice,jdbcType=DOUBLE},
      </if>
      <if test="landimg != null">
        landImg = #{landimg,jdbcType=VARCHAR},
      </if>
      <if test="landms != null">
        landMs = #{landms,jdbcType=VARCHAR},
      </if>
      <if test="landarea != null">
        landArea = #{landarea,jdbcType=VARCHAR},
      </if>
      <if test="landdate != null">
        landDate = #{landdate,jdbcType=DATE},
      </if>
      <if test="landsize != null">
        landSize = #{landsize,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where landID = #{landid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.entity.HappyFarmLandinfo">
    update happy_farm_landinfo
    set landName = #{landname,jdbcType=VARCHAR},
      landPrice = #{landprice,jdbcType=DOUBLE},
      landImg = #{landimg,jdbcType=VARCHAR},
      landMs = #{landms,jdbcType=VARCHAR},
      landArea = #{landarea,jdbcType=VARCHAR},
      landDate = #{landdate,jdbcType=DATE},
      landSize = #{landsize,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where landID = #{landid,jdbcType=INTEGER}
  </update>
  
  <update id="updatestatus">
    update happy_farm_landinfo set status=#{status} where landID = #{landid}
  </update>
  
</mapper>