<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.LogisticsMapper">
  <resultMap id="BaseResultMap" type="com.ssm.entity.Logistics">
    <id column="logisticsId" jdbcType="INTEGER" property="logisticsid" />
    <result column="logisticsName" jdbcType="VARCHAR" property="logisticsname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    logisticsId, logisticsName
  </sql>
  <select id="selectByExample" parameterType="com.ssm.entity.LogisticsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from logistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from logistics
    where logisticsId = #{logisticsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from logistics
    where logisticsId = #{logisticsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.entity.LogisticsExample">
    delete from logistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.entity.Logistics">
    insert into logistics (logisticsId, logisticsName)
    values (#{logisticsid,jdbcType=INTEGER}, #{logisticsname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.entity.Logistics">
    insert into logistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logisticsid != null">
        logisticsId,
      </if>
      <if test="logisticsname != null">
        logisticsName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logisticsid != null">
        #{logisticsid,jdbcType=INTEGER},
      </if>
      <if test="logisticsname != null">
        #{logisticsname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.entity.LogisticsExample" resultType="java.lang.Long">
    select count(*) from logistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update logistics
    <set>
      <if test="record.logisticsid != null">
        logisticsId = #{record.logisticsid,jdbcType=INTEGER},
      </if>
      <if test="record.logisticsname != null">
        logisticsName = #{record.logisticsname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update logistics
    set logisticsId = #{record.logisticsid,jdbcType=INTEGER},
      logisticsName = #{record.logisticsname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.entity.Logistics">
    update logistics
    <set>
      <if test="logisticsname != null">
        logisticsName = #{logisticsname,jdbcType=VARCHAR},
      </if>
    </set>
    where logisticsId = #{logisticsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.entity.Logistics">
    update logistics
    set logisticsName = #{logisticsname,jdbcType=VARCHAR}
    where logisticsId = #{logisticsid,jdbcType=INTEGER}
  </update>
</mapper>