.order-class{
	width: 260px;
    height: 28px;
    position: absolute;
    margin-top: -17px;
    margin-left: 179px;
}
.tijiao{
 width: 400px;
 height: 30px;
 margin-left: 315px;
}
#dd{
	width: 250px;
    margin-left: 400px;
    position: absolute;
    margin-top: 30px;
    cursor: pointer;
}